.label {
  color: var(--input-label-color);
  font-family: var(--tapsi-typography-font-family);
  line-height: var(--input-label-text-height);
  font-size: var(--input-label-text-size);
  font-weight: var(--input-label-text-weight);
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--input-control-height);
  width: 100%;
  padding-right: var(--input-padding-horizontal);
  padding-left: var(--input-padding-horizontal);
  gap: var(--tapsi-spacing-4);
  background-color: var(--input-control-bg-color);
  border: var(--tapsi-stroke-2) solid var(--input-control-border-color);
}
.wrapper {
  border-radius: var(--input-control-border-radius);
}
