a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: text;
}

:root,
html {
  --font-family: Vazirmatn, "SF Pro Rounded";
  font-family: var(--font-family);
  --tapsi-typography-font-family: var(--font-family);
  font-size: 16px;
}

h1 {
  font-family: var(--tapsi-typography-headline-md-font);
  font-size: var(--tapsi-typography-headline-md-size);
  line-height: var(--tapsi-typography-headline-md-height);
  font-weight: var(--tapsi-typography-headline-md-weight);
}

h2 {
  font-family: var(--tapsi-typography-headline-sm-font);
  font-size: var(--tapsi-typography-headline-sm-size);
  line-height: var(--tapsi-typography-headline-sm-height);
  font-weight: var(--tapsi-typography-headline-sm-weight);
}

p {
  font-family: var(--tapsi-typography-body-md-font);
  font-size: var(--tapsi-typography-body-md-size);
  line-height: var(--tapsi-typography-body-md-height);
  font-weight: var(--tapsi-typography-body-md-weight);
  color: var(--tapsi-color-content-secondary);
  margin: 0;
}

label {
  font-family: var(--tapsi-typography-label-sm-font);
  font-size: var(--tapsi-typography-label-sm-size);
  line-height: var(--tapsi-typography-label-sm-height);
  font-weight: var(--tapsi-typography-label-sm-weight);
  color: var(--tapsi-color-content-secondary);
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

tapsi-modal {
  z-index: 20000;
}